body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #272829;
    font-weight: 500;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.body-css {
    margin: 20px;
}

a {
    color: #17184b;
    text-decoration: none;
}

a:hover {
    color: #17184b;
    text-decoration: none;
}

.news-h1 {
    width: fit-content;
    width: -moz-fit-content;
    display: inline;
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.button-div {
    height: auto;
}

.button-div a {
    display: inline-grid;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #17184b;
    border: none;
    padding: 1.5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-height: 20px;
    text-align: center;
    margin: 5px;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 900;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.newslist {
    margin-top: 1lh;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.newslist li {
    padding-top: 0.75lh;
    list-style: none;
}

.news-home {
    font-size: 1.5em;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    font-weight: 500;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: #272829;
}

.news-header {
    justify-content: space-between;
    display: flex;
    margin-left: 5px;
    margin-bottom: 0.75lh;
}

.nosearch {
    color: #17184b;
    font-size: 18px;
}

.search-div {
    width: auto;
    justify-content: space-between;
    display: none;
    border: 0;
    border-radius: 36px;
    margin-bottom: 0.75lh;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    padding: 0.5lh;
    background: none;
}

.search-div input {
    border: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    height: 36px;
    width: max-content;
    outline: none;
    padding: 0;
    ;
    width: 100%;
    font-size: 18px;
    margin-left: 12px;
    background: none;
}

.search-input-div {
    width: calc(100% - 48px);
    height: 36px;
}

.search-div svg {
    height: 24px;
    width: auto;
    fill: #17184b;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.search-svg-div {
    width: fit-content;
    height: 36px;
    display: flex;
}

.search-svg-div button {
    background: none;
    border: none;
    width: fit-content;
    height: 36px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}